pandas>=1.1.5
absl-py>=0.11.0
six>=1.15
numpy>=1.19.2
matplotlib>=3.3.3
torch>=1.10.2@https://download.pytorch.org/whl/cpu-cxx11-abi/torch-2.3.0%2Bcpu.cxx11.abi-cp38-cp38-linux_x86_64.whl#sha256=c34512c3e07efe9b7fb5c3a918fef1a7c6eb8969c6b2eea92ee5c16a0583fe12
tensorflow-estimator>=2.4.0
typing-extensions>=3.7.4
protobuf>=3.13.0
#tensorflow-gpu>=2.4.1
tensorflow-quantum>=0.7.2
scikit-image>=0.17.2
scikit-learn
cirq>=0.11.0
sympy>=1.5
scipy>=1.5.4
